.about__content-text > p {
  font-family: inherit;
  font-weight: 400; }

.heading, .btn, .btn:link, .btn:visited, .card-box__item, .form__input, .navigation__link:link, .navigation__link:visited, .project-box__info > p {
  font-family: inherit;
  font-weight: 300; }

/* Media Queries

min-width:

1. bp1400
2. bp1500
3. bp1600
4. bp1700
5. bp1800 
6. bp1900
7. bp2000
8. bp2300

--------------------------------------------------------

max-width:

1. bp1220 [ 1220px / 16px = 76.25em ]
2. bp1160
3. bp1100
4. bp1000
5. bp950
6. bp850
7. bp800
8. bp768
9. bp700
10. bp640
11. bp600
12. bp550
13. bp450
14. bp400
15. bp320
16. bp300

--------------------------------------------------------

1. specialCase  [ HoverNone OR bp1100 ] 

---------------------------------------------------------

Responsive img:

Home image:

1. smallerHome - 900px
2. smallHome - 1200px
3. midHome - 2100px
4. bigHome - 2400px

About image:

1. smallAbout - 300px
2. midAbout - 600px
3. bigAbout - 900px
4. biggerAbout - 1200px


// */
:root {
  --color-gray-light: #f5f7fa;
  --color-gray-medium: #aab2bd;
  --color-gray-dark: #343941;
  --color-gray-darken: #1e272e;
  --color-brown: burlywood;
  --color-yellow-dark: #d4a800;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-green: #05c46b;
  --color-blue-mid: #0193b8;
  --color-blue-dark: #017fa8;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  --shadow-card: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.6); }

@keyframes moveLeftStop {
  0% {
    opacity: 0;
    transform: translateX(70rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotate360Y {
  0% {
    opacity: 0;
    transform: rotateY(360deg); }
  100% {
    opacity: 1; } }

@keyframes rotate360Z {
  0% {
    transform: rotateZ(360deg); }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(2); }
  100% {
    opacity: 1; } }

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(40rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-gray-light) var(--color-gray-darken);
  scrollbar-width: thin; }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 68%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 59.375em) {
    html {
      font-size: 51%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 49%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 47%; } }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 18.75em) {
    html {
      font-size: 35%; } }

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-gray-darken);
  background-color: var(--color-gray-light); }

::selection {
  background-color: var(--color-gray-dark);
  color: #fff; }

::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color-gray-darken); }

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-light); }

.heading {
  text-transform: uppercase;
  color: inherit; }
  .heading__prim {
    font-size: 7rem;
    letter-spacing: .4rem;
    transition: all .5s;
    color: #fff; }
    @media only screen and (max-width: 76.25em) {
      .heading__prim {
        font-size: 6.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .heading__prim {
        font-size: 6rem; } }
    @media only screen and (max-width: 59.375em) {
      .heading__prim {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 48em) {
      .heading__prim {
        font-size: 5rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading__prim {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 40em) {
      .heading__prim {
        font-size: 6rem; } }
    @media only screen and (max-width: 34.375em) {
      .heading__prim {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 25em) {
      .heading__prim {
        font-size: 4.5rem; } }
    .heading__prim > span {
      color: var(--color-gray-darken); }
      .heading__prim > span:first-child {
        font-size: 8rem;
        color: var(--color-gray-darken); }
        @media only screen and (max-width: 76.25em) {
          .heading__prim > span:first-child {
            font-size: 7.5rem; } }
        @media only screen and (max-width: 62.5em) {
          .heading__prim > span:first-child {
            font-size: 6.5rem; } }
        @media only screen and (max-width: 59.375em) {
          .heading__prim > span:first-child {
            font-size: 6rem; } }
        @media only screen and (max-width: 48em) {
          .heading__prim > span:first-child {
            font-size: 5.5rem; } }
        @media only screen and (max-width: 43.75em) {
          .heading__prim > span:first-child {
            font-size: 5rem; } }
        @media only screen and (max-width: 40em) {
          .heading__prim > span:first-child {
            font-size: 7rem; } }
        @media only screen and (max-width: 34.375em) {
          .heading__prim > span:first-child {
            font-size: 6rem; } }
        @media only screen and (max-width: 25em) {
          .heading__prim > span:first-child {
            font-size: 5rem; } }
  .heading__sec {
    font-size: 5rem;
    letter-spacing: .4rem;
    color: var(--color-gray-darken); }
    @media only screen and (max-width: 62.5em) {
      .heading__sec {
        font-size: 4rem; } }
    @media only screen and (max-width: 48em) {
      .heading__sec {
        font-size: 3.7rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading__sec {
        font-size: 3.3rem; } }
    @media only screen and (max-width: 40em) {
      .heading__sec {
        font-size: 3rem; } }
    @media only screen and (max-width: 28.125em) {
      .heading__sec {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 25em) {
      .heading__sec {
        font-size: 3.3rem; } }
  .heading__third {
    font-size: 3.5rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 50em) {
      .heading__third {
        font-size: 2.5rem;
        letter-spacing: .15rem; } }
    @media only screen and (max-width: 40em) {
      .heading__third {
        font-size: 3rem; } }
    @media only screen and (max-width: 28.125em) {
      .heading__third {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 25em) {
      .heading__third {
        font-size: 3.3rem; } }
  .heading__fourth {
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: none;
    font-weight: 400; }
    @media only screen and (max-width: 76.25em) {
      .heading__fourth {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 72.5em) {
      .heading__fourth {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 53.125em) {
      .heading__fourth {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading__fourth {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 40em) {
      .heading__fourth {
        font-size: 2rem; } }
    @media only screen and (max-width: 34.375em) {
      .heading__fourth {
        font-size: 1.8em; } }
    @media only screen and (max-width: 28.125em) {
      .heading__fourth {
        font-size: 3em;
        line-height: 4rem; } }
    @media only screen and (max-width: 25em) {
      .heading__fourth {
        font-size: 2.7rem; } }
  .heading__fifth {
    font-size: 2rem;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 50em) {
      .heading__fifth {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 28.125em) {
      .heading__fifth {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 25em) {
      .heading__fifth {
        font-size: 2rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.3rem 3rem;
  letter-spacing: .3rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-all-sides);
  transition: all .2s;
  cursor: pointer; }
  @media only screen and (max-width: 34.375em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.8rem; } }

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: var(--shadow-all-sides); }

.btn:active {
  transform: translateY(-0.05rem);
  box-shadow: none; }

.btn__solid {
  background-color: var(--color-gray-darken);
  color: #fff; }
  .btn__solid--submit {
    border: none;
    padding: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    @media only screen and (max-width: 43.75em) {
      .btn__solid--submit {
        width: 7rem;
        height: 7rem; } }
    @media only screen and (max-width: 28.125em) {
      .btn__solid--submit {
        width: 9rem;
        height: 9rem; } }
    .btn__solid--submit:focus {
      outline: none; }
  .btn__solid--card {
    background-color: var(--color-blue-mid);
    color: var(--color-gray-light);
    padding: 1.2rem 2rem !important;
    font-size: 1.5rem !important; }

.card-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0 2rem;
  height: 50rem; }
  .card-box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-darken);
    padding: 1rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: 2rem;
    box-shadow: 0 0.3rem 1.2rem 0 black;
    transition: all .5s;
    width: 30rem;
    height: 40rem;
    padding: 1.5rem;
    z-index: 200; }
    .card-box__item:not(:first-child) {
      margin-left: -10rem; }
      @media only screen and (hover: none), (max-width: 68.75em) {
        .card-box__item:not(:first-child) {
          margin-left: 2rem; } }
    .card-box__item:hover {
      margin: 0 9rem 6rem -10rem; }
      @media only screen and (hover: none), (max-width: 68.75em) {
        .card-box__item:hover {
          margin: 0 0 0 2rem; } }
    .card-box__item--first {
      align-items: stretch; }
    .card-box__item--first:hover {
      margin: 0 9rem 6rem 0;
      z-index: 100; }
      @media only screen and (hover: none), (max-width: 68.75em) {
        .card-box__item--first:hover {
          margin: 0; } }
    .card-box__item--all {
      align-items: stretch; }
  .card-box__icon {
    width: 7rem;
    height: 7rem;
    fill: #fff; }
    .card-box__icon:hover {
      animation-name: rotate360Y;
      animation-duration: 1.5s;
      animation-delay: .4s;
      fill: var(--color-blue-mid); }

.education-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-gray-light);
  border-radius: 2rem;
  color: var(--color-gray-darken);
  padding: 4rem 2rem 6rem 2rem; }
  @media only screen and (max-width: 28.125em) {
    .education-box {
      width: 85%;
      flex: 1 0 100%; } }
  @media only screen and (max-width: 20em) {
    .education-box {
      width: 100%; } }
  .education-box:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 28.125em) {
      .education-box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem; } }
  .education-box__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 34.375em) {
      .education-box__heading {
        margin-bottom: 4rem; } }
  .education-box__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-gray-darken); }
    .education-box__icon--first {
      margin-right: 1rem; }
  .education-box__content {
    text-align: center;
    font-weight: 400; }
    .education-box__content > h4 > span {
      color: var(--color-blue-mid);
      font-size: 2.7rem;
      font-weight: 400; }
      @media only screen and (max-width: 76.25em) {
        .education-box__content > h4 > span {
          font-size: 2.3rem; } }
      @media only screen and (max-width: 62.5em) {
        .education-box__content > h4 > span {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 53.125em) {
        .education-box__content > h4 > span {
          font-size: 2rem; } }
      @media only screen and (max-width: 48em) {
        .education-box__content > h4 > span {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 28.125em) {
        .education-box__content > h4 > span {
          font-size: 3.7rem; } }
      @media only screen and (max-width: 25em) {
        .education-box__content > h4 > span {
          font-size: 3.3rem; } }
      @media only screen and (max-width: 20em) {
        .education-box__content > h4 > span {
          font-size: 3rem; } }

.education__academy-logo {
  width: 70%; }

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem auto -12rem auto;
  color: #fff; }
  @media only screen and (max-width: 43.75em) {
    .footer-text {
      margin: 12rem auto -11rem auto; } }
  @media only screen and (max-width: 25em) {
    .footer-text {
      text-align: center; } }

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 5rem;
  margin: 4rem auto 8rem auto;
  flex: 1;
  background-color: var(--color-gray-light);
  border-radius: 2rem; }
  @media only screen and (max-width: 59.375em) {
    .form {
      width: 100%; } }
  @media only screen and (max-width: 28.125em) {
    .form {
      padding: 4rem;
      flex: 1 0 auto; } }
  @media only screen and (max-width: 25em) {
    .form {
      padding: 2rem; } }
  .form__first-box {
    flex: 1 0 auto;
    display: flex;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 28.125em) {
      .form__first-box {
        flex-direction: column; } }
  .form__second-box {
    flex: 1 0 auto;
    display: flex; }
    @media only screen and (max-width: 28.125em) {
      .form__second-box {
        flex-direction: column; } }
    .form__second-box-btn {
      align-self: flex-end; }
      @media only screen and (max-width: 28.125em) {
        .form__second-box-btn {
          align-self: center;
          margin-top: 3rem; } }
  .form__input {
    width: 100%;
    height: 5rem;
    background-color: transparent;
    font-size: 2.2rem;
    color: var(--color-gray-darken);
    cursor: pointer;
    border: none;
    border-bottom: 0.1rem solid rgba(52, 57, 65, 0.2);
    padding-left: 1rem; }
    @media only screen and (max-width: 28.125em) {
      .form__input {
        height: 6rem; } }
    @media only screen and (max-width: 25em) {
      .form__input {
        height: 7rem; } }
    @media only screen and (max-width: 20em) {
      .form__input {
        height: 9rem; } }
    .form__input--name {
      margin-right: 4rem; }
      @media only screen and (max-width: 28.125em) {
        .form__input--name {
          margin-right: 0; } }
    .form__input--message {
      height: 17rem;
      margin-right: 5rem; }
      @media only screen and (max-width: 28.125em) {
        .form__input--message {
          margin-right: 0; } }
    .form__input:focus {
      outline: none; }

.logo__img {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  transition: all 1s ease;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 28.125em) {
    .logo__img {
      top: 2.5rem;
      left: 2.5rem;
      height: 5rem;
      width: 5rem; } }
  .logo__img:hover {
    transform: rotateZ(360deg); }

.navigation__checkbox {
  display: none; }

.navigation__btn--open {
  display: block; }

.navigation__btn--close {
  display: none; }

.navigation__icon {
  position: fixed;
  top: 4rem;
  right: 4rem;
  height: 4.5rem;
  width: 4.5rem;
  fill: #fff;
  z-index: 2000;
  cursor: pointer; }
  @media only screen and (max-width: 28.125em) {
    .navigation__icon {
      top: 2.5rem;
      right: 2.5rem;
      height: 5rem;
      width: 5rem; } }

.navigation__bgr {
  position: fixed;
  top: 3rem;
  right: 3rem;
  height: 6.5rem;
  width: 6.5rem;
  z-index: 1000;
  background-color: rgba(52, 57, 65, 0.95);
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.7rem 0 rgba(0, 0, 0, 0.8);
  transition: all .3s; }
  @media only screen and (max-width: 53.125em) {
    .navigation__bgr {
      transition: all .2s; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__bgr {
      top: 2rem;
      right: 2rem;
      height: 6rem;
      width: 6rem; } }

.navigation__nav {
  position: fixed;
  top: 3rem;
  right: 3rem;
  height: 6.5rem;
  z-index: 1500;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 6rem 0 5rem; }
  @media only screen and (max-width: 28.125em) {
    .navigation__nav {
      top: 2rem;
      right: 2rem;
      height: 6rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__nav {
      padding: 0 4rem 0 3rem; } }

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  list-style: none; }
  @media only screen and (max-width: 53.125em) {
    .navigation__list {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }

.navigation__item {
  margin-right: 2rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: .1rem;
  color: #fff;
  padding: .8rem 1rem;
  transition: all .1s;
  backface-visibility: hidden; }

.navigation__link:hover, .navigation__link:active {
  transform: scale(1.1);
  color: var(--color-blue-mid); }

.navigation__checkbox:checked ~ .navigation__bgr {
  width: 83rem; }
  @media only screen and (max-width: 53.125em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 45%;
      height: 32rem;
      border-radius: 1rem; } }
  @media only screen and (max-width: 48em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 50%; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 55%; } }
  @media only screen and (max-width: 25em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 60%; } }

.navigation__checkbox:checked ~ .navigation__nav {
  display: flex;
  animation-name: moveLeftStop;
  animation-duration: .4s; }
  @media only screen and (max-width: 53.125em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 45%;
      height: 32rem; } }
  @media only screen and (max-width: 48em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 50%; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 55%; } }
  @media only screen and (max-width: 25em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 60%; } }

.navigation__checkbox:checked ~ .navigation__btn--open {
  display: none; }

.navigation__checkbox:checked ~ .navigation__btn--close {
  display: block; }

.project-box {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .project-box__info {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: auto; }
    .project-box__info-img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 1rem;
      margin-right: 2rem; }
    .project-box__info > p {
      font-size: 1.7rem;
      letter-spacing: .1rem;
      color: #fff;
      border: 1px solid var(--color-gray-dark);
      padding: 1rem;
      border-radius: 1rem; }
  .project-box__btn {
    display: flex;
    justify-content: center;
    align-items: flex-end; }

.section-box {
  margin-top: 12rem;
  display: flex; }
  @media only screen and (min-width: 100em) {
    .section-box {
      margin-top: 17rem; } }
  @media only screen and (min-width: 112.5em) {
    .section-box {
      margin-top: 20rem; } }
  @media only screen and (max-width: 40em) {
    .section-box {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: stretch; } }
  .section-box__content {
    width: 100%;
    min-width: 0;
    flex: 1 0 100%;
    margin-right: 10%; }
    @media only screen and (max-width: 40em) {
      .section-box__content {
        margin-right: 0; } }
  .section-box__icon {
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: var(--color-gray-dark); }
    @media only screen and (max-width: 50em) {
      .section-box__icon {
        flex: 1 0 20%; } }
    @media only screen and (max-width: 40em) {
      .section-box__icon {
        flex: 0 1 auto; } }
    @media only screen and (max-width: 40em) {
      .section-box__icon--projects > h3,
      .section-box__icon--contact > h3 {
        display: none; } }
    @media only screen and (max-width: 40em) {
      .section-box__icon--skills, .section-box__icon--education, .section-box__icon--about {
        margin-bottom: 5rem; } }

.section-icon {
  height: 4.5rem;
  width: 4.5rem;
  transition: all .3s ease;
  margin-bottom: 1rem;
  backface-visibility: hidden; }
  @media only screen and (max-width: 50em) {
    .section-icon {
      height: 3.5rem;
      width: 3.5rem; } }
  .section-icon:hover {
    fill: var(--color-blue-mid); }

.content-box {
  width: 70%;
  background-color: rgba(30, 39, 46, 0.1);
  border-radius: 2rem;
  box-shadow: var(--shadow-all-sides);
  border: 1px solid rgba(30, 39, 46, 0.05);
  padding: 3rem;
  margin: -72vh auto -25rem 5rem; }
  @media only screen and (max-width: 50em) {
    .content-box {
      width: 75%; } }
  @media only screen and (max-width: 43.75em) {
    .content-box {
      padding: 2.5rem; } }
  @media only screen and (max-width: 40em) {
    .content-box {
      width: 95%;
      padding: 2rem;
      margin: -72vh auto -25rem auto; } }
  @media only screen and (max-width: 20em) {
    .content-box {
      padding: 1rem; } }

.footer {
  height: 40rem;
  background-color: var(--color-gray-darken);
  background-image: url(../img/bgr_img.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 10%);
  position: relative;
  z-index: -10; }

.header {
  height: 95vh;
  background-color: var(--color-gray-darken);
  background-image: url(../img/bgr_img.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 85%, 75% 100%, 0 90%, 0 0);
  position: relative;
  z-index: -10; }
  @media only screen and (max-width: 25em) {
    .header {
      clip-path: polygon(100% 0, 100% 85%, 85% 90%, 0 80%, 0 0); } }

.about {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 95%;
  margin: 0 auto;
  background-color: var(--color-gray-light);
  color: var(--color-gray-darken);
  border-radius: 2rem;
  padding: 2rem;
  flex: 1 0 auto; }
  @media only screen and (max-width: 28.125em) {
    .about {
      flex-direction: column;
      align-items: center;
      flex: 1 0 100%; } }
  .about__photo {
    height: 50rem;
    width: 50%;
    background-color: var(--color-gray-darken);
    background-image: url(../img/me_about--small.png);
    background-size: cover;
    background-position: top;
    opacity: .95;
    border-radius: 2rem;
    box-shadow: var(--shadow-all-sides);
    padding: 5rem;
    margin-right: 4rem; }
    @media (min-resolution: 192dpi) and (min-width: 12.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 12.5em), (min-width: 62.5em) {
      .about__photo {
        background-image: url(../img/me_about--mid.png); } }
    @media (min-resolution: 192dpi) and (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em), (min-width: 125em) {
      .about__photo {
        background-image: url(../img/me_about--big.png); } }
    @media (min-resolution: 192dpi) and (min-width: 100em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 100em) {
      .about__photo {
        background-image: url(../img/me_about--bigger.png); } }
    @media only screen and (min-width: 93.75em) {
      .about__photo {
        height: 49rem; } }
    @media only screen and (min-width: 100em) {
      .about__photo {
        height: 53rem; } }
    @media only screen and (min-width: 106.25em) {
      .about__photo {
        height: 54rem; } }
    @media only screen and (min-width: 112.5em) {
      .about__photo {
        height: 56rem; } }
    @media only screen and (min-width: 118.75em) {
      .about__photo {
        height: 58rem; } }
    @media only screen and (min-width: 125em) {
      .about__photo {
        height: 61rem; } }
    @media only screen and (min-width: 143.75em) {
      .about__photo {
        height: 64rem; } }
    @media only screen and (max-width: 62.5em) {
      .about__photo {
        width: 55%; } }
    @media only screen and (max-width: 53.125em) {
      .about__photo {
        margin-right: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .about__photo {
        margin-right: 1.5rem; } }
    @media only screen and (max-width: 34.375em) {
      .about__photo {
        width: 60%; } }
    @media only screen and (max-width: 28.125em) {
      .about__photo {
        margin-right: 0;
        margin-bottom: 7rem;
        width: 90%; } }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex: 1;
    padding: 1rem; }
    @media only screen and (max-width: 28.125em) {
      .about__content {
        width: 80%;
        padding: 0;
        flex: 1 0 auto; } }
    @media only screen and (max-width: 25em) {
      .about__content {
        width: 90%; } }
    .about__content-heading {
      margin-bottom: auto;
      color: var(--color-blue-mid); }
      @media only screen and (max-width: 28.125em) {
        .about__content-heading {
          order: 5;
          margin-bottom: 0; } }
    .about__content-text {
      display: flex; }
      @media only screen and (max-width: 28.125em) {
        .about__content-text {
          margin-bottom: 7rem; } }
      .about__content-text > p {
        text-transform: uppercase;
        font-size: 2.7rem;
        letter-spacing: .2rem;
        line-height: 3.5rem; }
        @media only screen and (max-width: 68.75em) {
          .about__content-text > p {
            font-size: 2.5rem;
            line-height: 3.2rem; } }
        @media only screen and (max-width: 62.5em) {
          .about__content-text > p {
            font-size: 2.2rem;
            line-height: 3rem; } }
        @media only screen and (max-width: 53.125em) {
          .about__content-text > p {
            font-size: 2rem;
            line-height: 2.8rem; } }
        @media only screen and (max-width: 34.375em) {
          .about__content-text > p {
            font-size: 1.8rem;
            line-height: 2.2rem; } }
        @media only screen and (max-width: 28.125em) {
          .about__content-text > p {
            font-size: 3rem;
            line-height: 3.5rem; } }
        .about__content-text > p > span {
          color: var(--color-blue-mid); }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 2rem; }
  @media only screen and (max-width: 40em) {
    .contact {
      padding-top: 0; } }
  .contact__heading {
    align-self: center; }
  .contact__form-box {
    flex: 1 0 auto;
    display: flex; }
  .contact__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    backface-visibility: hidden; }
    @media only screen and (max-width: 28.125em) {
      .contact__social {
        justify-content: space-between; } }
    .contact__social-links:link, .contact__social-links:visited {
      text-decoration: none;
      transition: all .3s;
      backface-visibility: hidden; }
    .contact__social-links:hover, .contact__social-links:active {
      transform: scale(1.1); }
    .contact__social-icon {
      width: 5rem;
      height: 5rem;
      fill: #fff;
      padding: .3rem; }
      @media only screen and (max-width: 25em) {
        .contact__social-icon {
          height: 4rem;
          width: 4rem; } }
      .contact__social-icon:hover {
        fill: var(--color-gray-darken); }

.education {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 2rem; }
  @media only screen and (max-width: 72.5em) {
    .education {
      padding: 0; } }
  @media only screen and (max-width: 28.125em) {
    .education {
      flex-direction: column;
      align-items: center; } }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem; }
  .home__heading {
    flex: 1;
    width: 100%;
    margin-bottom: 10rem;
    animation-name: moveUp;
    animation-duration: .8s;
    backface-visibility: hidden; }
  .home__btn {
    display: flex;
    animation-name: moveUp;
    animation-duration: 1.2s;
    backface-visibility: hidden; }
  .home__icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    fill: var(--color-gray-darken); }
    @media only screen and (max-width: 68.75em) {
      .home__icon {
        width: 2.5rem;
        height: 2.5rem; } }
    @media only screen and (max-width: 48em) {
      .home__icon {
        width: 2rem;
        height: 2rem; } }
    @media only screen and (max-width: 20em) {
      .home__icon {
        width: 1.5rem;
        height: 1.5rem; } }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  flex: 1; }
  .projects ::-webkit-scrollbar {
    height: .5rem;
    background-color: transparent; }
  .projects ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-darken); }
  .projects__heading {
    margin-bottom: 3rem;
    padding: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .projects__heading {
        padding: 0; } }
    @media only screen and (max-width: 40em) {
      .projects__heading {
        margin-bottom: 1rem;
        align-self: center; } }
  .projects__content {
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: var(--color-gray-darken) rgba(30, 39, 46, 0.1);
    scrollbar-width: thin; }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, max-content));
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-light);
  border-radius: 2rem;
  padding: 3rem 2rem; }
  .skills__skill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-dark);
    color: var(--color-gray-light);
    padding: 1rem;
    border-radius: 1rem; }
