// // Extends

%text-formating-400 {
    font-family: inherit;
    font-weight: 400; 
}
%text-formating-300 {
    font-family: inherit;
    font-weight: 300; 
}



// Mixins

/* Media Queries

min-width:

1. bp1400
2. bp1500
3. bp1600
4. bp1700
5. bp1800 
6. bp1900
7. bp2000
8. bp2300

--------------------------------------------------------

max-width:

1. bp1220 [ 1220px / 16px = 76.25em ]
2. bp1160
3. bp1100
4. bp1000
5. bp950
6. bp850
7. bp800
8. bp768
9. bp700
10. bp640
11. bp600
12. bp550
13. bp450
14. bp400
15. bp320
16. bp300

--------------------------------------------------------

1. specialCase  [ HoverNone OR bp1100 ] 

---------------------------------------------------------

Responsive img:

Home image:

1. smallerHome - 900px
2. smallHome - 1200px
3. midHome - 2100px
4. bigHome - 2400px

About image:

1. smallAbout - 300px
2. midAbout - 600px
3. bigAbout - 900px
4. biggerAbout - 1200px


// */

@mixin respond($breakpoint) {
    // --- max-width ---
    @if $breakpoint == bp1220 {
        @media only screen and (max-width: 76.25em) {
            @content           
        };
    }
    @if $breakpoint == bp1160 {
        @media only screen and (max-width: 72.5em) {
            @content           
        };
    }
    @if $breakpoint == bp1100 {
        @media only screen and (max-width: 68.75em) {
            @content           
        };
    }
    @if $breakpoint == bp1000 {
        @media only screen and (max-width: 62.5em) {
            @content           
        };
    }
    @if $breakpoint == bp950 {
        @media only screen and (max-width: 59.375em) {
            @content           
        };
    }
    @if $breakpoint == bp850 {
        @media only screen and (max-width: 53.125em) {
            @content           
        };
    }
    @if $breakpoint == bp800 {
        @media only screen and (max-width: 50em) {
            @content           
        };
    }
    @if $breakpoint == bp768 {
        @media only screen and (max-width: 48em) {
            @content           
        };
    }
    @if $breakpoint == bp700 {
        @media only screen and (max-width: 43.75em) {
            @content           
        };
    }
    @if $breakpoint == bp640 {
        @media only screen and (max-width: 40em) {
            @content           
        };
    }
    @if $breakpoint == bp600 {
        @media only screen and (max-width: 37.5em) {
            @content           
        };
    }
    @if $breakpoint == bp550 {
        @media only screen and (max-width: 34.375em) {
            @content           
        };
    }
    @if $breakpoint == bp450 {
        @media only screen and (max-width: 28.125em) {
            @content           
        };
    }
    @if $breakpoint == bp400 {
        @media only screen and (max-width: 25em) {
            @content           
        };
    }
    @if $breakpoint == bp320 {
        @media only screen and (max-width: 20em) {
            @content           
        };
    }
    @if $breakpoint == bp300 {
        @media only screen and (max-width: 18.75em) {
            @content           
        };
    }

    // --- min-width ---
    @if $breakpoint == bp1400 {
        @media only screen and (min-width: 87.5em) {
            @content           
        };
    }
    @if $breakpoint == bp1500 {
        @media only screen and (min-width: 93.75em) {
            @content           
        };
    }
    @if $breakpoint == bp1600 {
        @media only screen and (min-width: 100em) {
            @content           
        };
    }
    @if $breakpoint == bp1700 {
        @media only screen and (min-width: 106.25em) {
            @content           
        };
    }
    @if $breakpoint == bp1800 {
        @media only screen and (min-width: 112.5em) {
            @content           
        };
    }
    @if $breakpoint == bp1900 {
        @media only screen and (min-width: 118.75em) {
            @content           
        };
    }
    @if $breakpoint == bp2000 {
        @media only screen and (min-width: 125em) {
            @content           
        };
    }
    @if $breakpoint == bp2300 {
        @media only screen and (min-width: 143.75em) {
            @content           
        };
    }

    // --- specialCase ---
    @if $breakpoint == specialCase {
        @media only screen and (hover: none),
                        (max-width: 68.75em) {
            @content           
        };
    }

    // --- Responsive img ---

    //About section
    @if $breakpoint == midAbout{
        @media (min-resolution: 192dpi) and (min-width: 12.5em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 12.5em),
                (min-width: 62.5em) {
                    @content 
        };              
    }
    @if $breakpoint == bigAbout{
        @media (min-resolution: 192dpi) and (min-width: 62.5em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em),
                (min-width: 125em) {
                    @content 
        };              
    }
    @if $breakpoint == biggerAbout{
        @media (min-resolution: 192dpi) and (min-width: 100em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 100em) {
                    @content 
        };              
    }

    //Home section
    @if $breakpoint == smallHome {
        @media (min-resolution: 192dpi) and (min-width: 28.125em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 28.125em),
                (min-width: 56.25em) {
                    @content 
        };              
    }
    @if $breakpoint == midHome {
        @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
                    @content 
        };                
    }
    @if $breakpoint == bigHome {
        @media (min-resolution: 192dpi) and (min-width: 65em),
                (-webkit-min-device-pixel-ratio: 2) and (min-width: 65em),
                (min-width: 71.875em) {
                    @content 
        };                
    }
}
