// css - variables
:root {

    --color-gray-light: #f5f7fa;
    --color-gray-medium: #aab2bd;
    --color-gray-dark: #343941;
    --color-gray-darken: #1e272e;

    --color-brown: burlywood;

    --color-yellow-dark: #d4a800;

    --color-red-light: #ff2f23;
    --color-red-dark: #e55039;

    --color-green: #05c46b;

    --color-blue-mid: #0193b8;
    --color-blue-dark: #017fa8;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    --shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
    --shadow-btn: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    --shadow-card: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.6); 

}

