.content-box { 
    width: 70%;
    
    background-color: rgba(#1e272e, .1);
    border-radius: 2rem;
    box-shadow: var(--shadow-all-sides);
    border: 1px solid rgba(#1e272e, .05);

    padding: 3rem;
    margin: -72vh auto -25rem 5rem;

    @include respond(bp800) {
        width: 75%;
    }
    @include respond(bp700) {
        padding: 2.5rem;
    }
    @include respond(bp640) {
        width: 95%;
        padding: 2rem;
        margin: -72vh auto -25rem auto;
    }
    @include respond(bp320) {
        padding: 1rem;
    }
}



