.footer {
    height: 40rem;

    background-color: var(--color-gray-darken);  
    background-image: url(../img/bgr_img.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 10%);
    position: relative;

    z-index: -10;
}