.header {
    height: 95vh;
    background-color: var(--color-gray-darken);  
    background-image: url(../img/bgr_img.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 85%, 75% 100%, 0 90%, 0 0);
    position: relative;
    z-index: -10;

    @include respond(bp400) {
        clip-path: polygon(100% 0, 100% 85%, 85% 90%, 0 80%, 0 0);
    }
}
