.btn {
    &,
    &:link,
    &:visited {

        @extend %text-formating-300;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2.3rem 3rem;
        letter-spacing: .3rem;
        font-size: 2rem;
        border-radius: 1rem;  
        box-shadow: var(--shadow-all-sides);
        transition: all .2s;
        cursor: pointer;

        @include respond(bp550) {
            font-size: 1.8rem;
        }
    }
    &:hover {
        transform: translateY(-.1rem);
        box-shadow: var(--shadow-all-sides);
    }
    &:active {
        transform: translateY(-.05rem);
        box-shadow: none;
    }
    &__solid {
        background-color: var(--color-gray-darken);
        color: #fff;

        &--submit {
            border: none;
            padding: 0;
            width: 8rem;
            height: 8rem;
            border-radius: 1rem;
            
            //
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            @include respond(bp700) {
                width: 7rem;
                height: 7rem;
            }
            @include respond(bp450) {
                width: 9rem;
                height: 9rem;
            }

            &:focus {
                outline: none;
            }
        }

        &--card {
            background-color: var(--color-blue-mid);
            color: var(--color-gray-light);
            
            padding: 1.2rem 2rem !important;
            font-size: 1.5rem !important;
        }
    }
}


