.card-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0 2rem;
    height: 50rem;
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-gray-darken);
        padding: 1rem;
        @extend %text-formating-300;
        border: 1px solid var(--color-gray-dark);
        border-radius: 2rem;
        box-shadow: 0 .3rem 1.2rem 0 rgba(0,0,0, 1); 
        transition: all .5s;

        width: 30rem;
        height: 40rem;
        
        padding: 1.5rem;
        //
        z-index: 200;

        &:not(:first-child) {
            margin-left: -10rem;

            @include respond(specialCase) {
                margin-left: 2rem;
            }
        }
        &:hover {
            margin: 0 9rem 6rem -10rem;

            @include respond(specialCase) {
                margin: 0 0 0 2rem;
            }
        }

        &--first {
            align-items: stretch;
        }
        &--first:hover {
            margin: 0 9rem 6rem 0;
            //
            z-index: 100;

            @include respond(specialCase) {
                margin: 0;
            }
        }

        &--all {
            align-items: stretch;
        }
        
    }
    &__icon {
        width: 7rem;
        height: 7rem;
        fill: #fff;

        &:hover {
            animation-name: rotate360Y;
            animation-duration: 1.5s;
            animation-delay: .4s;
            fill: var(--color-blue-mid);
        }
    }
}