.education-box {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--color-gray-light);
    border-radius: 2rem;
    color: var(--color-gray-darken);
    padding: 4rem 2rem 6rem 2rem;

    @include respond(bp450) {
        width: 85%;
        flex: 1 0 100%;
    }
    @include respond(bp320) {
        width: 100%;
    }

    &:not(:last-child) {
        margin-right: 2rem;

        @include respond(bp450) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5rem;

        @include respond(bp550) {
           margin-bottom: 4rem;
        }
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        fill: var(--color-gray-darken);

        &--first {
            margin-right: 1rem;
        }
    }
    &__content {
        text-align: center;
        font-weight: 400;

        & > h4 > span {
            color: var(--color-blue-mid);
            font-size: 2.7rem;
            font-weight: 400;

            @include respond(bp1220) {
                font-size: 2.3rem;
            }
            @include respond(bp1000) {
                font-size: 2.2rem;
            }
            @include respond(bp850) {
                font-size: 2rem;
            }
            @include respond(bp768) {
                font-size: 1.8rem;
            }
            @include respond(bp450) {
                font-size: 3.7rem;
            }
            @include respond(bp400) {
                font-size: 3.3rem;
            }
            @include respond(bp320) {
                font-size: 3rem;
            }
        }
    }
}

.education__academy-logo {
    width: 70%;
}
