.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12rem auto -12rem auto;
    color: #fff;

    @include respond(bp700) {
        margin:12rem auto -11rem auto;
    }
    @include respond(bp400) {
        text-align: center;
    }
}