.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    padding: 5rem;
    margin: 4rem auto 8rem auto;
    flex: 1;

    background-color: var(--color-gray-light);
    border-radius: 2rem;

    @include respond(bp950) {
        width: 100%;
    }
    @include respond(bp450) {
        padding: 4rem;
        //
        flex: 1 0 auto;
    }
    @include respond(bp400) {
        padding: 2rem;
    }
    &__first-box {
        flex: 1 0 auto;
        display: flex;
        margin-bottom: 2rem;

        @include respond(bp450) {
            flex-direction: column;
        }
    }
    &__second-box {
        flex: 1 0 auto;
        display: flex;

        @include respond(bp450) {
            flex-direction: column;
        }

        &-btn {
            align-self: flex-end;
            
            @include respond(bp450) {
                align-self: center;
                margin-top: 3rem;
            }
        } 
    }
    &__input {

        width: 100%;
        height: 5rem;

        @extend %text-formating-300;
        background-color: transparent;
        font-size: 2.2rem;
        color: var(--color-gray-darken);
        cursor: pointer;
        border: none;
        border-bottom: .1rem solid rgba(#343941, .2);

        padding-left: 1rem;

        @include respond(bp450) {
            height: 6rem;
        }
        @include respond(bp400) {
            height: 7rem;
        }
        @include respond(bp320) {
            height: 9rem;
        }

        &--name {
            margin-right: 4rem;
            
            @include respond(bp450) {
                margin-right: 0;
            }
        }

        &--message {
            height: 17rem;
            margin-right: 5rem;

            @include respond(bp450) {
                margin-right: 0;
            }
        }
        &:focus {
            outline: none;
        }
    }   
}