.logo {
    
    &__img {
        position: absolute;
        top: 3rem;
        left: 3rem;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        transition: all 1s ease;
        box-shadow: 0 .1rem .3rem 0 rgba(0,0,0, 0.8); 

        @include respond(bp450) {
            top: 2.5rem;
            left: 2.5rem;
            height: 5rem;
            width: 5rem;
        }

        &:hover {
            transform: rotateZ(360deg);            
        }
    }
}



