.navigation {
    
    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        position: fixed;
        top: 4rem;
        right: 4rem;
        height: 4.5rem;
        width: 4.5rem;
        fill: #fff;
        z-index: 2000;
        cursor: pointer;

        @include respond(bp450) {
            top: 2.5rem;
            right: 2.5rem;
            height: 5rem;
            width: 5rem;
        }
    }
    &__bgr {
        position: fixed;
        top: 3rem;
        right: 3rem;
        height: 6.5rem;
        width: 6.5rem;
        z-index: 1000;
        background-color: rgba(#343941, .95);
        border-radius: 1rem;
        box-shadow: 0 .1rem .7rem 0 rgba(0,0,0, 0.8);
        transition: all .3s;

        @include respond(bp850) {
            transition: all .2s;
        }
        @include respond(bp450) {
            top: 2rem;
            right: 2rem;
            height: 6rem;
            width: 6rem;
        }
    }
    &__nav {
        position: fixed;
        top: 3rem;
        right: 3rem;
        height: 6.5rem;
        z-index: 1500;
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0 6rem 0 5rem;

        @include respond(bp450) {
            top: 2rem;
            right: 2rem;
            height: 6rem;
        }
        @include respond(bp400) {
            padding: 0 4rem 0 3rem;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        list-style: none;

        @include respond(bp850) {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__item {
        margin-right: 2rem;
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none; 
            display: inline-block;
            text-transform: uppercase;
            @extend %text-formating-300; 
            font-size: 2.7rem;
            letter-spacing: .1rem; 
            color: #fff;
            padding: .8rem 1rem;
            transition: all .1s;
            backface-visibility: hidden;
        }
        &:hover,
        &:active {
            transform: scale(1.1);
            color: var(--color-blue-mid);
        }
    }

    &__checkbox:checked ~ &__bgr {
        width: 83rem;

        @include respond(bp850) {
            width: 45%;
            height: 32rem;
            border-radius: 1rem;
        }
        @include respond(bp768) {
            width: 50%;
        }
        @include respond(bp450) {
            width: 55%;
        }
        @include respond(bp400) {
            width: 60%;
        }

    }
    &__checkbox:checked ~ &__nav {
        display: flex;
        animation-name: moveLeftStop;
        animation-duration: .4s;

        @include respond(bp850) {
            width: 45%;
            height: 32rem;
        }
        @include respond(bp768) {
            width: 50%;
        }
        @include respond(bp450) {
            width: 55%;
        }
        @include respond(bp400) {
            width: 60%;
        }

    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}