.project-box {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__info {
        display: grid;
        grid-template-rows: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: auto;

        &-img {
            // display: inline-block;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 1rem;
            margin-right: 2rem;
        }

        & > p {
            @extend %text-formating-300;
            font-size: 1.7rem;
            letter-spacing: .1rem;
            color: #fff;
            border: 1px solid var(--color-gray-dark);
            padding: 1rem;
            border-radius: 1rem;
        }        
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}