.section-box {
    margin-top: 12rem;
    display: flex; 

    @include respond(bp1600) {
        margin-top: 17rem;
    }
    @include respond(bp1800) {
        margin-top: 20rem;
    }

    @include respond(bp640) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: stretch;
    }
    &__content {
        width: 100%;
        min-width: 0;
        flex: 1 0 100%;
        margin-right: 10%;
      
        @include respond(bp640) {
            margin-right: 0;
        }
    }
    &__icon {
    
        flex: 1 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        fill: var(--color-gray-dark);

        @include respond(bp800) {
            flex: 1 0 20%;
        }
        @include respond(bp640) {
            flex: 0 1 auto;
        }

        &--projects > h3,
        &--contact > h3 {
            @include respond(bp640) {
                display: none;
            }
        }
        &--skills,
        &--education,
        &--about {
            @include respond(bp640) {
                margin-bottom: 5rem;
            }
        }
    }
}
