.section-icon {
    height: 4.5rem;
    width: 4.5rem;
    transition: all .3s ease;
    margin-bottom: 1rem;
    backface-visibility: hidden;

    @include respond(bp800) {
        height: 3.5rem;
        width: 3.5rem;
    }
    &:hover {
        fill: var(--color-blue-mid);          
    }
}