@keyframes moveLeftStop {
    0% {
        opacity: 0;
        transform: translateX(70rem);
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 0.3;
    }     
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rotate360Y {
    0% {
        opacity: 0;
        transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate360Z {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        opacity: 1;
    }
}
@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(40rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






