* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;

    // Scrollbar for Firefox
    scrollbar-color: var(--color-gray-light) var(--color-gray-darken);
    scrollbar-width: thin;

    //min-width
    @include respond(bp1500) {
        font-size: 65%;
    }
    @include respond(bp1800) {
        font-size: 68%;
    }

    //max-width
    @include respond(bp1100) {
        font-size: 59%;
    }
    @include respond(bp1000) {
        font-size: 57%;
    }
    @include respond(bp950) {
        font-size: 51%;
    }
    @include respond(bp768) {
        font-size: 49%;
    }
    @include respond(bp700) {
        font-size: 47%;
    }
    @include respond(bp640) {
        font-size: 45%;
    }
    @include respond(bp300) {
        font-size: 35%;
    }
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: var(--color-gray-darken);
    background-color: var(--color-gray-light);
}

::selection {
    background-color: var(--color-gray-dark);
    color: #fff;
}

//Scrollbar for Chrome, Safari
::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--color-gray-darken);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-light);
}

