.heading {
    text-transform: uppercase;
    @extend %text-formating-300;
    color: inherit;

    &__prim {
        font-size: 7rem;
        letter-spacing: .4rem;
        transition: all .5s;
        color: #fff;

        @include respond(bp1220) {
            font-size: 6.5rem;
        }
        @include respond(bp1000) {
            font-size: 6rem;
        }
        @include respond(bp950) {
            font-size: 5.5rem;
        }
        @include respond(bp768) {
            font-size: 5rem;
        }
        @include respond(bp700) {
            font-size: 4.5rem;
        }
        @include respond(bp640) {
            font-size: 6rem;
        }
        @include respond(bp550) {
            font-size: 5.5rem;
        }
        @include respond(bp400) {
            font-size: 4.5rem;
        }

        & > span {
            color: var(--color-gray-darken);

            &:first-child {
                font-size: 8rem;
                color: var(--color-gray-darken);

                @include respond(bp1220) {
                    font-size: 7.5rem;
                }
                @include respond(bp1000) {
                    font-size: 6.5rem;
                }
                @include respond(bp950) {
                    font-size: 6rem;
                }
                @include respond(bp768) {
                    font-size: 5.5rem;
                }
                @include respond(bp700) {
                    font-size: 5rem;
                }
                @include respond(bp640) {
                    font-size: 7rem;
                }
                @include respond(bp550) {
                    font-size: 6rem;
                }
                @include respond(bp400) {
                    font-size: 5rem;
                }
            }
        }
    }
    &__sec {
        font-size: 5rem;
        letter-spacing: .4rem;
        color: var(--color-gray-darken);

        @include respond(bp1000) {
            font-size: 4rem;
        }
        @include respond(bp768) {
            font-size: 3.7rem;
        }
        @include respond(bp700) {
            font-size: 3.3rem;
        }
        @include respond(bp640) {
            font-size: 3rem;
        }
        @include respond(bp450) {
            font-size: 3.5rem;
        }
        @include respond(bp400) {
            font-size: 3.3rem;
        }
    }
    &__third {
        font-size: 3.5rem;
        letter-spacing: .2rem;

        @include respond(bp800) {
            font-size: 2.5rem;
            letter-spacing: .15rem;
        }
        @include respond(bp640) {
            font-size: 3rem;
        }
        @include respond(bp450) {
            font-size: 3.5rem;
        }
        @include respond(bp400) {
            font-size: 3.3rem;
        }
    }
    &__fourth {
        font-size: 2rem;
        letter-spacing: .1rem;
        text-transform: none;
        font-weight: 400;

        @include respond(bp1220) {
            font-size: 1.8rem;
        }
        @include respond(bp1160) {
            font-size: 1.6rem;
        }
        @include respond(bp850) {
            font-size: 1.4rem;
        }
        @include respond(bp700) {
            font-size: 1.6rem;
        }
        @include respond(bp640) {
            font-size: 2rem;
        }
        @include respond(bp550) {
            font-size: 1.8em;
        }
        @include respond(bp450) {
            font-size: 3em;
            line-height: 4rem;
        }
        @include respond(bp400) {
            font-size: 2.7rem;
        }
    }
    &__fifth {
        font-size: 2rem;
        letter-spacing: .1rem;

        @include respond(bp800) {
            font-size: 1.5rem;
        }
        @include respond(bp450) {
            font-size: 1.8rem;
        }
        @include respond(bp400) {
            font-size: 2rem;
        }
    }
}
