.about {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    width: 95%;
    margin: 0 auto;
        
    background-color: var(--color-gray-light);
    color: var(--color-gray-darken);
    border-radius: 2rem;
    padding: 2rem;
    flex: 1 0 auto;

    @include respond(bp450) {
        flex-direction: column;
        align-items: center;
        flex: 1 0 100%;
    }

    &__photo {
        height: 50rem;
        width: 50%;

        background-color: var(--color-gray-darken);
        background-image: url(../img/me_about--small.png);
        background-size: cover;
        background-position: top;                 
        opacity: .95;
        border-radius: 2rem;
        box-shadow: var(--shadow-all-sides);
        padding: 5rem;
        margin-right: 4rem;

        @include respond(midAbout) {
            background-image:  url(../img/me_about--mid.png);
        }
        @include respond(bigAbout) {
            background-image:  url(../img/me_about--big.png);
        }
        @include respond(biggerAbout) {
            background-image:  url(../img/me_about--bigger.png);
        }

        @include respond(bp1500) {
            height: 49rem;
        }
        @include respond(bp1600) {
            height: 53rem;
        }
        @include respond(bp1700) {
            height: 54rem;
        }
        @include respond(bp1800) {
            height: 56rem;
        }
        @include respond(bp1900) {
            height: 58rem;
        }
        @include respond(bp2000) {
            height: 61rem;
        }
        @include respond(bp2300) {
            height: 64rem;
        }

        @include respond(bp1000) {
            width: 55%;
        }
        @include respond(bp850) {
            margin-right: 2rem;
        }
        @include respond(bp700) {
            margin-right: 1.5rem;
        }
        @include respond(bp550) {
            width: 60%;
        }
        @include respond(bp450) {
            margin-right: 0;
            margin-bottom: 7rem;
            width: 90%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        flex: 1;
        padding: 1rem;

        @include respond(bp450) {
            width: 80%;
            padding: 0;
            flex: 1 0 auto; 
        }
        @include respond(bp400) {
            width: 90%;
        }

        &-heading {
            margin-bottom: auto;
            color: var(--color-blue-mid);

            @include respond(bp450) {
                order: 5;
                margin-bottom: 0;
            }
        }
        &-text {
            display: flex;

            @include respond(bp450) {
                margin-bottom: 7rem;
            }
            & > p {
                text-transform: uppercase;
                @extend %text-formating-400;
                font-size: 2.7rem;
                letter-spacing: .2rem;
                line-height: 3.5rem;

                @include respond(bp1100) {
                    font-size: 2.5rem;
                    line-height: 3.2rem;
                }
                @include respond(bp1000) {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
                @include respond(bp850) {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
                @include respond(bp550) {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
                @include respond(bp450) {
                    font-size: 3rem;
                    line-height: 3.5rem;
                }
                & > span {
                    color: var(--color-blue-mid);
                }
            }
        }
    }
}