.contact {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 2rem;

    @include respond(bp640) {
        padding-top: 0;
    }

    &__heading {
        align-self: center;
    }
    &__form-box {
        flex: 1 0 auto;
        display: flex;
    }
    &__social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem;
        backface-visibility: hidden;

        @include respond(bp450) {
            justify-content: space-between;
        }

        &-links {
            &:link,
            &:visited {
                text-decoration: none;                
                transition: all .3s;
                backface-visibility: hidden;
            }
            &:hover,
            &:active {
                transform: scale(1.1);
            }
        }
        &-icon {
            width: 5rem;
            height: 5rem;
            fill: #fff;
            padding: .3rem;

            @include respond(bp400) {
                height: 4rem;
                width: 4rem;
            }

            &:hover {
                fill: var(--color-gray-darken);
            }
        }
    }
}