.education {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 2rem;

    @include respond(bp1160) {
        padding: 0;
    }
    @include respond(bp450) {
        flex-direction: column;
        align-items: center;
    }
}