.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;  
    padding: 0 2rem;
    
    &__heading {
        flex: 1;
        width: 100%;
        margin-bottom: 10rem;

        animation-name: moveUp;
        animation-duration: .8s;
        backface-visibility: hidden;   
    }
    &__btn {
        display: flex;     
        animation-name: moveUp;
        animation-duration: 1.2s;
        backface-visibility: hidden;  
    }
    &__icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        fill: var(--color-gray-darken);

        @include respond(bp1100) {
            width: 2.5rem;
            height: 2.5rem;
        }
        @include respond(bp768) {
            width: 2rem;
            height: 2rem;
        }
        @include respond(bp320) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
