.projects {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    flex: 1;

    //Scrollbar for Chrome, Safari
    ::-webkit-scrollbar {
        height: .5rem;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-darken);
    }
    
    &__heading {
        margin-bottom: 3rem; 
        padding: 2rem; 

        @include respond(bp1100) {
            padding: 0;
        }
        @include respond(bp640) {
            margin-bottom: 1rem;
            align-self: center;
        }
    }
    &__content {
        display: flex;
        justify-content: stretch;
        align-items: center;
        
        overflow-x: scroll;
        overflow-y: hidden;

        //Scrollbar for Firefox
        scrollbar-color: var(--color-gray-darken) rgba(#1e272e, .1);
        scrollbar-width: thin;
    }
}

