.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, max-content));
    gap: 1rem;

    width: 95%;

    margin: 0 auto;
    justify-content: center;
    align-items: center;

    background-color: var(--color-gray-light);
    border-radius: 2rem;
    padding: 3rem 2rem;

    &__skill {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-gray-dark);
        color: var(--color-gray-light);
        padding: 1rem;
        border-radius: 1rem;
    }
}